* {
	box-sizing: border-box;
}

*:focus:not(.focus-visible) {
	outline: none;
}

html,
body { 
	width: 100%;
	height: 100%; 	
}

body {
	@include flex-all(column, center);
	margin: 0;
	padding: 0;
	font: {
		size: $base-font-size;
		family: $primary-font;
	}
	line-height: 1.5;
	color: $c-text;
	background-color: $secondary-color;
}

a { transition: color .5s, background-color .5s; }

svg { transition: fill .5s; }

h1 { @include scale-font-heading("huge"); }
h2 { @include scale-font-heading("large"); }
h3 { @include scale-font-heading("bigger"); }
h4 { @include scale-font-heading("big"); }
h5 { @include scale-font-heading("medium"); }
h6 { @include scale-font-heading("base"); }

h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; }


.site-header { z-index: 10; }

.site-content { 
	z-index: 8; 
	height: 100%; 

	@include respond-to($vp-large) {
		height: calc(100% - 170px);

		&__row {
			height: 100%; 
		}
		&__row--inner { 
			@include width-constrain;
			height: 100%;
		}
	}
}

.site-footer { z-index: 9; }

.width-constrain-row {
	[class*="row-inner"] {
		@include respond-to($vp-large) {
			@include width-constrain;
		}
	}
}
