// Responsive

$vp-small				: 320px;	// small size 
$vp-mid					: 768px;	// mid size
$vp-large				: 1024px;	// large size

$vp-max					: 1350px;	// max viewport

$site-width				: $vp-max;

// Header & Footer Sizes
$header-height          : 75px;
$footer-height          : 110px;

// Logos Sizes

$header-logo-width		: 100px;
$header-logo-height		: 23px;
$footer-logo-width		: 180px;
$footer-logo-height		: 25px;

// Colors

$c-white                : rgb(255,255,255);
$c-black                : rgb(0,0,0);
$c-grey                 : rgb(104, 104, 104);
$c-text                 : rgb(48, 48, 48);

$primary-color			: rgb(255, 108, 43);
$color-over-primary		: $c-white;

$secondary-color		: rgb(85, 87, 89);
$color-over-secondary	: $c-white;

// Social Colors

$facebook				: rgb(24,119,242);
$twitter				: rgb(29,161,242);
$youtube				: rgb(255,0,0);
$instagram				: rgb(215,53,118);

// Logos Images

$header-logo-constrast-light: "../images/header-logo-constrast-light.png";
$footer-logo-constrast-light: "../images/footer-logo-constrast-light.png";

$header-logo-constrast-dark: "../images/header-logo-constrast-dark.png";
$footer-logo-constrast-dark: "../images/footer-logo-constrast-dark.png";


// Fonts

$primary-font			 : Helvetica-roman, sans-serif;
$secondary-font          : Arial, Helvetica, sans-serif;

$base-font-size			 : 16px;

$size-huge               : 3rem; // 48px
$size-large              : 2.375rem; // 38px
$size-bigger             : 2rem; // 32px
$size-big                : 1.625rem; // 26px
$size-medium             : 1.25rem; // 20px
$size-base               : 1rem; // 16px
$size-small              : 0.75rem; // 12px
$size-tiny               : 0.625rem; // 10px
$size-wee                : 0.5rem; // 8px