// Responsive

$vp-small				: 320px;	// small size 
$vp-mid					: 768px;	// mid size
$vp-large				: 1024px;	// large size

$vp-max					: 1350px;	// max viewport

$site-width				: 1370px;

// Header & Footer Sizes
$header-height          : 112px;
$footer-height          : 112px;

// Logos Sizes

$header-logo-width		: 100px;
$header-logo-height		: 100px;
$footer-logo-width		: 100px;
$footer-logo-height		: 100px;

// Colors

$c-white                : rgb(255,255,255);
$c-black                : rgb(0,0,0);
$c-grey                 : rgb(237, 237, 237);
$c-text                 : rgb(25, 28, 31);

$primary-color			: rgb(94, 61, 227);
$color-over-primary		: $c-white;

$secondary-color		: rgb(25, 28, 31);
$color-over-secondary	: $c-white;

// Social Colors

$facebook				: rgb(24,119,242);
$twitter				: rgb(29,161,242);
$youtube				: rgb(255,0,0);
$instagram				: rgb(215,53,118);

// Logos Images

$header-logo-constrast-light: "../images/header-logo-constrast-light.png";
$footer-logo-constrast-light: "../images/footer-logo-constrast-light.png";

$header-logo-constrast-dark: "../images/header-logo-constrast-dark.png";
$footer-logo-constrast-dark: "../images/footer-logo-constrast-dark.png";


// Fonts & Sizes
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,800&family=Poppins:wght@800&display=swap');

$primary-font			 : 'Open Sans', sans-serif;
$secondary-font          : 'Poppins', sans-serif;

$base-font-size			 : 16px;

$size-huge               : 3rem; // 48px
$size-large              : 2.375rem; // 38px
$size-bigger             : 2rem; // 32px
$size-big                : 1.625rem; // 26px
$size-medium             : 1.25rem; // 20px
$size-base               : 1rem; // 16px
$size-small              : 0.75rem; // 12px
$size-tiny               : 0.625rem; // 10px
$size-wee                : 0.5rem; // 8px