<section class="content module-update">
    <div class="content-column">
        <div class="content-column__inner">
            <h1 class="page-title"><a ref="index.html">Crud</a></h1>

            <div class="content-text">
                <h3>Update users</h3>
            </div>
        </div>
    </div>

    <div class="content-column">
        <div class="content-column__inner">
            <div class="content-links">
                <a href="add.html" class="action action-add">
                    Add User
                    <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg"><path d="M14 .875C21.248.875 27.125 6.752 27.125 14S21.248 27.125 14 27.125.875 21.248.875 14 6.752.875 14 .875zM8.375 14.703c0 .129.105.235.234.235h4.454v4.453c0 .129.105.234.234.234h1.406a.235.235 0 00.235-.234v-4.453h4.453a.235.235 0 00.234-.235v-1.406a.235.235 0 00-.234-.235h-4.453V8.61a.235.235 0 00-.235-.234h-1.406a.235.235 0 00-.235.234v4.454H8.61a.235.235 0 00-.234.234v1.406z"/></svg>
                </a>
            </div>

            <div class="content-body">
                <div class="content-body__inner">
                    <form action="" method="post" class="form form-update">
                        <h4>In ornare quam viverra orci sagittis eu volutpat</h4>

                        <div class="form-wrap">
                            <div class="form-group">
                                <input type="id" name="id" id="id" value="2684543937" disabled class="form-input form-input-disabled">
                            </div>
                        </div>

                        <div class="form-wrap">
                            <div class="form-group">
                                <input type="text" name="firstName" id="firstName" value="Leanne" class="form-input">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastName" id="lastName" value="Graham" class="form-input">
                            </div>
                            <div class="form-group">
                                <input type="number" name="phone" id="phone" value="7463781537" class="form-input">
                            </div>
                        </div>

                        <div class="form-wrap">
                            <div class="form-group">
                                <input type="text" name="address" id="address" value="Cl 68SUR No. 45-17, C.P 05631" class="form-input">
                            </div>
                        </div>

                        <div class="form-wrap">
                            <div class="form-group action-links">
                                {{!-- <input type="submit" value="Update User" class="action action-primary"> --}}
                                <a href="users.html" class="action action-primary">Update User</a>
                                <a href="users.html" class="action action-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>                    
        </div>                    
    </div>                    
</section> 