<section class="content module-users">
    <div class="content-column">
        <div class="content-column__inner">
            <h1 class="page-title"><a ref="index.html">Crud</a></h1>

            <div class="content-text">
                <h3>All users</h3>
            </div>
        </div>
    </div>

    <div class="content-column">
        <div class="content-column__inner">
            <div class="content-links">
                <a href="add.html" class="action action-add">
                    Add User
                    <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg"><path d="M14 .875C21.248.875 27.125 6.752 27.125 14S21.248 27.125 14 27.125.875 21.248.875 14 6.752.875 14 .875zM8.375 14.703c0 .129.105.235.234.235h4.454v4.453c0 .129.105.234.234.234h1.406a.235.235 0 00.235-.234v-4.453h4.453a.235.235 0 00.234-.235v-1.406a.235.235 0 00-.234-.235h-4.453V8.61a.235.235 0 00-.235-.234h-1.406a.235.235 0 00-.235.234v4.454H8.61a.235.235 0 00-.234.234v1.406z"/></svg>
                </a>
            </div>

            <div class="content-body">
                <div class="content-body__inner">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th><strong>First Name</strong></th>
                                <th><strong>Last Name</strong></th>
                                <th>Phone</th>
                                <th class="th-address">Address</th>
                                <th><span class="hidden">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2684543937</td>
                                <td><strong>Leanne</strong></td>
                                <td><strong>Graham</strong></td>
                                <td>7463781537</td>
                                <td>Cl 68SUR No. 45-17, C.P 05631</td>
                                <td>
                                    <div class="content-links">
                                        <button class="action action-dots">
                                            <svg width="20" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 2.312 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 9.505 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 16.698 2.77)"/></svg>
                                            <span class="hidden">Options</span>
                                        </button>
                                        <div class="content-links__inner">
                                            <a href="update.html" class="action action-update">
                                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M8.699.827l-4.28 4.278.005 2.478 2.472-.005 4.277-4.277A5.833 5.833 0 118.699.826zM10.95.226l.824.824-5.362 5.362-.824.002-.001-.826L10.95.225z"/></svg>
                                                Update
                                            </a>
                                            <a href="" class="action action-delete">
                                                <svg width="10" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.714 10.667C.714 11.4 1.357 12 2.143 12h5.714c.786 0 1.429-.6 1.429-1.333v-8H.714v8zM2.471 5.92l1.008-.94L5 6.393 6.514 4.98l1.007.94-1.514 1.413 1.514 1.414-1.007.94L5 8.273 3.486 9.687l-1.007-.94 1.514-1.414L2.47 5.92zM7.5.667L6.786 0H3.214L2.5.667H0V2h10V.667H7.5z"/></svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6001448742</td>
                                <td><strong>Ervin</strong></td>
                                <td><strong>Howell</strong></td>
                                <td>8006831732</td>
                                <td>Cr 52 No. 48-45 L 152, Medellín</td>
                                <td>
                                    <div class="content-links">
                                        <button class="action action-dots">
                                            <svg width="20" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 2.312 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 9.505 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 16.698 2.77)"/></svg>
                                            <span class="hidden">Options</span>
                                        </button>
                                        <div class="content-links__inner">
                                            <a href="" class="action action-update">
                                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M8.699.827l-4.28 4.278.005 2.478 2.472-.005 4.277-4.277A5.833 5.833 0 118.699.826zM10.95.226l.824.824-5.362 5.362-.824.002-.001-.826L10.95.225z"/></svg>
                                                Update
                                            </a>
                                            <a href="" class="action action-delete">
                                                <svg width="10" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.714 10.667C.714 11.4 1.357 12 2.143 12h5.714c.786 0 1.429-.6 1.429-1.333v-8H.714v8zM2.471 5.92l1.008-.94L5 6.393 6.514 4.98l1.007.94-1.514 1.413 1.514 1.414-1.007.94L5 8.273 3.486 9.687l-1.007-.94 1.514-1.414L2.47 5.92zM7.5.667L6.786 0H3.214L2.5.667H0V2h10V.667H7.5z"/></svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3776525650</td>
                                <td><strong>Clementine</strong></td>
                                <td><strong>Bauch</strong></td>
                                <td>4511829614</td>
                                <td>Cl 103 No. 49-63, C.P 11001</td>
                                <td>
                                    <div class="content-links">
                                        <button class="action action-dots">
                                            <svg width="20" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 2.312 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 9.505 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 16.698 2.77)"/></svg>
                                            <span class="hidden">Options</span>
                                        </button>
                                        <div class="content-links__inner">
                                            <a href="" class="action action-update">
                                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M8.699.827l-4.28 4.278.005 2.478 2.472-.005 4.277-4.277A5.833 5.833 0 118.699.826zM10.95.226l.824.824-5.362 5.362-.824.002-.001-.826L10.95.225z"/></svg>
                                                Update
                                            </a>
                                            <a href="" class="action action-delete">
                                                <svg width="10" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.714 10.667C.714 11.4 1.357 12 2.143 12h5.714c.786 0 1.429-.6 1.429-1.333v-8H.714v8zM2.471 5.92l1.008-.94L5 6.393 6.514 4.98l1.007.94-1.514 1.413 1.514 1.414-1.007.94L5 8.273 3.486 9.687l-1.007-.94 1.514-1.414L2.47 5.92zM7.5.667L6.786 0H3.214L2.5.667H0V2h10V.667H7.5z"/></svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>8592585775</td>
                                <td><strong>Patricia</strong></td>
                                <td><strong>Lebsack</strong></td>
                                <td>6460382069</td>
                                <td>Cl 72 No. 1 F-07, C.P 76001</td>
                                <td>
                                    <div class="content-links">
                                        <button class="action action-dots">
                                            <svg width="20" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 2.312 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 9.505 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 16.698 2.77)"/></svg>
                                            <span class="hidden">Options</span>
                                        </button>
                                        <div class="content-links__inner">
                                            <a href="" class="action action-update">
                                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M8.699.827l-4.28 4.278.005 2.478 2.472-.005 4.277-4.277A5.833 5.833 0 118.699.826zM10.95.226l.824.824-5.362 5.362-.824.002-.001-.826L10.95.225z"/></svg>
                                                Update
                                            </a>
                                            <a href="" class="action action-delete">
                                                <svg width="10" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.714 10.667C.714 11.4 1.357 12 2.143 12h5.714c.786 0 1.429-.6 1.429-1.333v-8H.714v8zM2.471 5.92l1.008-.94L5 6.393 6.514 4.98l1.007.94-1.514 1.413 1.514 1.414-1.007.94L5 8.273 3.486 9.687l-1.007-.94 1.514-1.414L2.47 5.92zM7.5.667L6.786 0H3.214L2.5.667H0V2h10V.667H7.5z"/></svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>7723462782</td>
                                <td><strong>Chelsey</strong></td>
                                <td><strong>Dietrich</strong></td>
                                <td>9145137863</td>
                                <td>Tr 21 No. 60-94, C.P 11001</td>
                                <td>
                                    <div class="content-links">
                                        <button class="action action-dots">
                                            <svg width="20" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 2.312 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 9.505 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 16.698 2.77)"/></svg>
                                            <span class="hidden">Options</span>
                                        </button>
                                        <div class="content-links__inner">
                                            <a href="" class="action action-update">
                                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M8.699.827l-4.28 4.278.005 2.478 2.472-.005 4.277-4.277A5.833 5.833 0 118.699.826zM10.95.226l.824.824-5.362 5.362-.824.002-.001-.826L10.95.225z"/></svg>
                                                Update
                                            </a>
                                            <a href="" class="action action-delete">
                                                <svg width="10" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.714 10.667C.714 11.4 1.357 12 2.143 12h5.714c.786 0 1.429-.6 1.429-1.333v-8H.714v8zM2.471 5.92l1.008-.94L5 6.393 6.514 4.98l1.007.94-1.514 1.413 1.514 1.414-1.007.94L5 8.273 3.486 9.687l-1.007-.94 1.514-1.414L2.47 5.92zM7.5.667L6.786 0H3.214L2.5.667H0V2h10V.667H7.5z"/></svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4442020324</td>
                                <td><strong>Dennis</strong></td>
                                <td><strong>Schulist</strong></td>
                                <td>5624774312</td>
                                <td>Cl 91 No. 13A-14 L 6, C.P 11001</td>
                                <td>
                                    <div class="content-links">
                                        <button class="action action-dots">
                                            <svg width="20" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 2.312 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 9.505 2.77)"/><ellipse rx="2.312" ry="2.018" transform="matrix(1 0 0 -1 16.698 2.77)"/></svg>
                                            <span class="hidden">Options</span>
                                        </button>
                                        <div class="content-links__inner">
                                            <a href="" class="action action-update">
                                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M8.699.827l-4.28 4.278.005 2.478 2.472-.005 4.277-4.277A5.833 5.833 0 118.699.826zM10.95.226l.824.824-5.362 5.362-.824.002-.001-.826L10.95.225z"/></svg>
                                                Update
                                            </a>
                                            <a href="" class="action action-delete">
                                                <svg width="10" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.714 10.667C.714 11.4 1.357 12 2.143 12h5.714c.786 0 1.429-.6 1.429-1.333v-8H.714v8zM2.471 5.92l1.008-.94L5 6.393 6.514 4.98l1.007.94-1.514 1.413 1.514 1.414-1.007.94L5 8.273 3.486 9.687l-1.007-.94 1.514-1.414L2.47 5.92zM7.5.667L6.786 0H3.214L2.5.667H0V2h10V.667H7.5z"/></svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                    
        </div>                    
    </div>                    
</section> 