.site-header {
    @include flex-all(column);
    
    .content-links {
        position: absolute;
        top: 0;
        right: 0;

        a {
            @include flex-all($align: center);
            text-decoration: none;
            color: $c-white;

            svg {
                width: 28px;
                height: 28px;
                margin-left: 10px;
                fill: $primary-color;
                transition: fill .5s;
            }

            @include hover {
                svg { fill: $c-white; }
            }
        }

        @include respond-to($vp-max) {
            position: absolute;
            top: 24px;
            right: 60px;
        }
    }
}