<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    {{> ../includes/layout/header }}

    {{!-- Modules --}}

    <main id="content_main" class="site-content" aria-label="Main Site Content" tabindex="-1">
        <div class="site-content__row">
            <div class="site-content__row--inner">     
                {{> ../includes/modules/users }}
            </div>
        </div>
    </main>

    {{!-- ./end Modules --}}

    {{> ../includes/layout/footer }}
</body>
</html>