.module-login {    
    .content-column {
        &:first-child {
            .content-text {
                h3 {
                    @include scale-font($small-ratio: .5, $mid-ratio: .75, $final-size: 2.25rem);
                    font-weight: 800;
                    color: $c-white;
                }

                p {
                    @include scale-font($small-ratio: .5, $mid-ratio: .75, $final-size: 1.5rem);
                    margin: 0;
                    font-weight: 300;
                }
            }
        }

        &:last-child { @include width-constrain(800px); }
    }

    .content-body {
        background-color: $secondary-color;

        p {
            font-weight: 700;
            color: $color-over-secondary; 

            a {
                margin-left: 5px;
                color: $primary-color;
                cursor: pointer;

                @include hover-color($color-over-secondary);
            }
        }
    }

    .align-right { justify-content: flex-end; }

    @include respond-to($vp-max) {
        .content-column {
            &:first-child {
                flex: 1;
                width: 100%;

                .content-text {
                    position: relative;
                    top: auto;
                    left: auto;
                }
            }

            &:last-child {
                flex: none;
                justify-content: center;
                width: 585px;
                max-width: none;
                margin: 0;

                .content-body {
                    @include width-constrain(390px);
                    padding: 0;
                }
            }
        }

        .content-body {
            width: 100%;
            background-color: transparent;
            
            &:before { content: none;}
        }

        .content-text { margin-bottom: 12.5rem; }
    }
}